<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset your password</title>
        <style>
            section {padding: 3rem; font-family: Helvetica Neue, Arial,
            sans-serif; } a { background-color: white ; border-radius: 5px;
            border: 1px solid #1a73e8; color: #1a73e8; font-family: Roboto,
            sans-serif; font-size: 14px; padding: 5px 10px; transition: 0.3s
            ease; text-decoration: none; } a:hover { background: #1a73e8;
            border: 1px solid white; color: white; transform: scale(1.1); }
        </style>
    </head>

    <body>
        <section>
            <h1>Hello, this is the Threshold team</h1>
            <p>
                You've requested a password reset to your account. Follow this
                link to enter your new credentials:
                <a href="DOMAIN/auth/passwordReset?token=TOKEN">Reset Password</a>
            </p>
            <hr />
            <strong>If you didn't request this kind of action, change your
                password immediately</strong>
        </section>
    </body>
</html>