<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset your password</title>
        <link rel="stylesheet" href="/styles/passwordReset.css" />

        <script src="/scripts/validation.js"></script>
    </head>
    <body>
        <div id="root-div"></div>
    </body>
</html>