DATABASE_HOST=localhost
DATABASE_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=threshold

FIREBASE_SERVICE_ACCOUNT_KEY={"project_id":"local","private_key":"-----BEGIN PRIVATE KEY-----\\nFAKE\\n-----END PRIVATE KEY-----\\n","client_email":"local@local.com"}


OFFICIAL_EMAIL="exampe@gmail.com"
OFFICIAL_EMAIL_PASSWORD="***"
MAILER_SERVICE_PROVIDER=hotmail

DO_SPACES_REGION=us-east-1
DO_SPACES_ENDPOINT=http://localhost:9000
DO_SPACES_KEY=minioadmin
DO_SPACES_SECRET=minioadmin
DO_SPACES_BUCKET_NAME=threshold

JWT_SECRET=***

FRONTEND_URLS="http://localhost:3000"
DOMAIN="http://localhost:8000"
ENVIRONMENT="development"
PORT=8000

